body {
    background-color: #f8f8f8;
}

.ft-wrapper{
	width: 100%;
	height: 90.00vh
}

.ft-box{
	width: 20.00vw;
	height: 20.00vh;
	border: 1px;
	float:left;
	display: inline-block;
}

.ft-list-image{
	width: auto;
	max-width: 100%;
	poition: relative;
	height: auto;
	max-height: 100%;
}