* {
	box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    margin: 0px;
}

.ft-wrapper {
	width: 100%;
	height: 100vh;
}

.ft-container {
	height: calc(100% - 60px);
    overflow: hidden;
}

.ft-list {
	margin: auto;
	z-index: 1;
	height: 100%;
	overflow: auto;
	padding: 10px;
}

.ft-box {
	width: 20%;
	height: 20.00vh;
	border: 1px;
	float:left;
	display: inline-block;
	padding: 5px;
}

.ft-box-wrapper {
	border: 1px solid #333;
    width: 100%;
    height: 100%;
}

.ft-detail-box {
	margin-left: 0px;
	margin-top: 0px;
	width: 99%;
	height: 40.00vh;
	border: 1px solid #333;
	box-sizing: border-box;
	z-index: 99;
	background: #f1f1f1;
	position: absolute;
	z-index: 100;
}

.ft-list-image {
	width: auto;
	max-width: 100%;
	poition: relative;
	height: auto;
	max-height: 100%;
}

.ft-top-nav {
	height: 40px;
	width: 100%;
	background: #333;
}

.ft-bottom {
	height: 20px;
	width: 100%;
	background: #333;
	position: absolute;
	bottom: 0;
}

.ft-detail-image {
	height: 100%;
	width: 30%;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	text-align: center;
	padding-top: 2%;
}
.ft-detail-detail {
	padding-left: 1%;
	height: 100%;
	width: 70%;
	display: inline-block;
	float: left;
	box-sizing: border-box;
}
.ft-detail-transcription {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
}

.ft-detail-translation {
	display: inline-block;
	float: left;
	width: 49.3%;
	height: 100%;
	box-sizing: border-box;
}

.ft-detail-image-top {
	padding-bottom: 1%;
	height: 69%;
	display: block;
}
.ft-detail-image-bot {
	height: 29%;
	display: block;
	background: #f8f8f8;
	text-align: left;
	padding: 0.5%;
	box-sizing: border-box;
}

.title {
	padding: 7px;
	font: 18px verdana, sans-serif;
	color: #f1f1f1;
}