//light #41444C
//dark  #151B1E
//darkwhite: #D1D6E1
//white #EFF4FF
//back to basics kuler

html {
	font-family: 'Roboto', serif;
}
* {
/*   -webkit-transition: all 0.2s ease; */
/*   -moz-transition:    all 0.2s ease; */
/*   -ms-transition:     all 0.2s ease; */
/*   -o-transition:      all 0.2s ease; */
}
body {
	background-color: #EFF4FF;
	margin: 0;
	font-family: 'Roboto', serif;
		overflow: hidden;
}
a {
	color: #151B1E;
	font-weight: 500;
	text-decoration: none;
}
a:hover {
	color: #D1D6E1;
}

#main-container {
	height: 100.00vh;
	width: 100%;
	margin: 0;
	background-size: cover;
    background-position: center;
	
}
.main {
	position: absolute;
	left: 2%;
	top: 5%;
	height:  90%;
	width: 96%;
	border: 1px solid #41444C;
}
.main-left{
	width: 85%;
	height: 90.00vh;
	float: left;
	box-sizing: border-box;
}
.main-right{
	width: 15%;
	height: 100%;
	float: right;
	padding: 0.5%;
	box-sizing: border-box;
}
.icons {
	margin-bottom: 0px;
    font-family: 'Material Icons';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 45px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.big-icon {
	font-size: 72px;
	font-weight: 100;
}

#nav-container {
	position: absolute;
	left: 2%;
	height: 50px;
	width: 92%;
	color: #41444C;
}
.nav-link-container{
	display: inline-block;
	width: 10%;
	height: 200px;
	float: left;
}
.nav-link-entry {
	padding-left: 2px;
	padding-right: 2px;
	height: 49px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	font-weight: 700;
	line-height: 49px;
}
.nav-link-entry:hover {
	cursor: pointer;
	color: #D1D6E1;
}


.nav-link-menu {
	position: absolute;
	text-transform: uppercase;
	padding: 5px;
	white-space: nowrap;
	width: 260px;
	visibility: hidden;
	z-index: 5;
	font-size: 12px;
}
.sub-menu-link{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #D1D6E1;
	display: block;
	text-decoration: none;
	color: inherit;
}
.sub-menu-link:hover {
	cursor: pointer;
	text-decoration: none;
	background: #333;
	color: #EFF4FF;
}
.nav-selected {
	background: #41444C;
	visibility: initial;
	color: #D1D6E1;
	z-index: 101;
}
.steam-id-container {
	text-align: center;
	width: 98%;
	padding: 2px;
	background: green;
	margin-top: 3px;
	background: rgba(69,100,0,0.5);
	border: 1px solid #41444C;
}


.container {
	height: 100%;
	width: 100%;
}

.tournament-teams-container {
	padding: 5px;
	position: absolute;
	left: 5%;
	top: 5%;
	height: 40%;
	height-max: 45%;
	width: 30%;
	text-align: center;
	background: rgba(65,68,76,0.3);	
}
.box-inner {
	padding: 10px;
	border: 1px solid #41444C;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background: rgba(239,244,255,0.3);	
}
.team-list {
	height: 80%;
	width: 100%;
}
.team-box-small {
	height: 100px;
	width: 100px;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
    display: inline-block;
}
.tournament-desc-container {
	padding: 5px;
	position: absolute;
	left: 5%;
	bottom: 5%;
	height: 40%;
	height-max: 45%;
	width: 30%;
	text-align: center;
	background: rgba(65,68,76,0.3);
}

.tournament-bracket-container {
	padding: 5px;
	position: absolute;
	right: 5%;
	top: 5%;
	bottom: 5%;
	width: 55%;
	text-align: center;
	background: rgba(65,68,76,0.3);
}

.match {
	background: rgba(65,68,76,0.3);
	height: 100%;
	width: 100%;
}

.form-admin {
	padding: 10px;
	color: #63B175;
}
.news-not-selected {
	position: absolute;
	width: 85%;
	height: 65%;
	text-align: center;
	top: 0px;
	margin-left: -120%;
	-webkit-transition: margin 2s; /* Safari 3.1 to 6.0 */
	transition: margin 0.5s;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.selected{
	margin-left: 0px !important;
}
.news-list-container {
	position: absolute;
	width: 85%;
	height: 30%;
	text-align: center;
	bottom: 5px;
}
.news-list {
	margin: auto;
	height: 95%;
	width: 100%;
}

.news-box-small {
	height: 100%;
	width: 20%;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
    display: inline-block;
}
.news-box-small:hover {
	cursor: pointer;
}
.news-box-big {
	margin-top: 1%;
	height: 95%;
	width: 95%;
	background: rgba(65,68,76,0.3);
    display: inline-block;
}
.news-image-box {
 	float: left;
	height: 100%;
	width: 30%;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
}
.news-text-box {
	float: left;
	height: 100%;
	width: 70%;
	padding: 1%;
	box-sizing: border-box;
}

.right-profile {
	height: 35%;
	width: 100%;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
}

.right-stream-list {
	padding: 2px;
	height: 35%;
	width: 100%;
}


.stream-entry-odd {
	padding: 2px;
	width: 100%;
	height: 22px;
	background: rgba(65,68,76,0.2);
	line-height: 22px;
}
.stream-entry-even {
	padding: 2px;
	width: 100%;
	height: 22px;
	background: rgba(65,68,76,0.0);
	line-height: 22px;
}
.stream-entry-odd:hover, .stream-entry-even:hover {
	background: rgba(65,68,76,0.8);
}



