//new kuler
//blue world
//lightest E1E6FA
// C4D7ED
// ABC8E2
// 375D81
// 183152
html {
	font-family: 'Roboto', serif;
}
* {
/*   -webkit-transition: all 0.2s ease; */
/*   -moz-transition:    all 0.2s ease; */
/*   -ms-transition:     all 0.2s ease; */
/*   -o-transition:      all 0.2s ease; */
}
body {
	background-color: #EFF4FF;
	margin: 0;
	font-family: 'Roboto', serif;
		overflow: hidden;
}
a {
	color: #151B1E;
	font-weight: 500;
	text-decoration: none;
}
a:hover {
	color: #D1D6E1;
}

#main-container {
	height: 100.00vh;
	width: 100%;
	margin: 0;
	background:  #e8e8e8;
	background-size: cover;
    background-position: center;
	
}
.main {
	position: absolute;
	top: 50px;
	height:  90%;
	width: 99%;
}
.main-left{
	width: 85%;
	height: 93.00vh;
	float: left;
	box-sizing: border-box;
}
.main-right{
	position: absolute;
	z-index: 25;
	top: -25px;
	right: 0px;
	width: 15%;
	height: 100%;
	float: right;
	box-sizing: border-box;
}
.icons {
	margin-bottom: 0px;
    font-family: 'Material Icons';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 45px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.big-icon {
	font-size: 72px;
	font-weight: 100;
}

#nav-container {
	position: absolute;
	height: 50px;
	width: 100%;
	color: #E1E6FA;
	background: #183152;
	padding-left: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	z-index: 20;
}
.nav-home-container{
	position: absolute;
	left: 2%;
	display: inline-block;
	width: 10%;
	height: 200px;
	float: left;
}
.nav-tournament-container{
	position: absolute;
	left: 7%;
	display: inline-block;
	width: 10%;
	height: 0px;
	z-index: 10;
}
.nav-team-container{
	position: absolute;
	left: 17%;
	display: inline-block;
	width: 10%;
	height: 200px;
}

.nav-link-entry {
	padding-left: 2px;
	padding-right: 2px;
	height: 49px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	font-weight: 700;
	line-height: 49px;
}
.nav-link-entry:hover {
	cursor: pointer;
	color: #D1D6E1;
}


.nav-link-menu {
	position: absolute;
	text-transform: uppercase;
	padding: 5px;
	white-space: nowrap;
	width: 260px;
	visibility: hidden;
	z-index: 5;
	font-size: 12px;
}
.sub-menu-link{
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: inherit;
}

.navtournaments {
	height: 0px;
	overflow: hidden;
	position: absolute;
	top: -120px;
	z-index: -1;
}
.navtournamentshidden {
	height: 0px;
	overflow: hidden;
	position: absolute;
	top: -120px;
	z-index: -1;
	width: 120%;
}
.navtournamentsshown {
	height: 160px;;
	display: block;
	padding: 5px;
	top: 48px;
	left: 7%;
	width: 140%;
	position: absolute;
	background: #FBFFFF;
	visibility: initial;
	color: #183152;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.nav-selected {
	top: 35px;
}
.steam-id-container {
	height: 35px;
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 2px;
	background: green;
	margin-top: 3px;
	background: #5D8328;
	bottom: 0px;
	padding: 6px;
	box-sizing: border-box;
}


.container {
	height: 100%;
	width: 100%;
}

.tournament-teams-container {
	position: absolute;
	left: 0.5%;
	top: 1%;
	height: 20%;
	height-max: 20%;
	width: 15%;
	text-align: center;
}
.tournament-banner-container {
	position: absolute;
	right: 12%;
	top: 1%;
	height: 20%;
	height-max: 20%;
	width: 30%;
	text-align: center;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
}

.tournament-info {
	position: absolute;
	left: 10px;
	top: 10px;
	background: #FBFFFF;
	height: 22%;
	width: 18%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	z-index: 16;
	border-radius: 2px;
	background-size: cover;
    background-position: center;
  	background-repeat: no-repeat;
}
.tournament-options {
	text-align: right;
	color: #FBFFFF;
	position: absolute;
	left: 10px;
	top: 24%;
	height: 76.5%;
	width: 18%;
	z-index: 15;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 0px;
}
.create-bracket-button {
	display: block;
	position: relative;
	background: #C4D7ED;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #183152;
	font-family: 'Roboto', serif;
	border: 0px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	margin-top: 0px;
}
.create-bracket-button:hover {
	cursor: pointer;
	background: #183152;
	
}
.tournament-general {
	background: #FBFFFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
}
.box-inner {
	height: 100%;
	width: 100%;
	box-sizing: border-box;

}
.team-list {
	height: 80%;
	width: 100%;
}
.team-box-small {
	height: 32%;
	width: 25%;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
    display: inline-block;
}
.tournament-desc-container {
	position: absolute;
	left: 0.5%;
	top: 22%;
	height: 20%;
	height-max: 25%;
	width: 15%;
	text-align: center;
}

.tournament-bracket-container {
	background: #FBFFFF;
	position: absolute;
	right: 16%;
	top: 10px;;
	height: 99%;
	width: 65%;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.match {
	background: #375D81;
	height: 100%;
	width: 100%;
}

.form-admin {
	padding: 10px;
	color: #63B175;
}
.news-not-selected {
	position: absolute;
	width: 85%;
	height: 70%;
	text-align: center;
	top: 0px;
	margin-left: -120%;
	-webkit-transition: margin 2s; /* Safari 3.1 to 6.0 */
	transition: margin 0.5s;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.selected{
	margin-left: 0px !important;
}
.news-list-container {
	position: absolute;
	width: 85%;
	height: 30%;
	text-align: center;
	bottom: 5px;
}
.news-list {
	margin: auto;
	height: 95%;
	width: 100%;
}

.news-box-small {
	height: 100%;
	margin-left: 0.4%;
	margin-right: 0.4%;
	width: 22%;
	background: #FBFFFF;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    
}
.news-box-small:hover {
	background: #E1E6FA;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
	cursor: pointer;
}
.news-box-big {
	margin-top: 10px;
	height: 95%;
	width: 96.5%;
	background: #FBFFFF;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.news-image-box {
 	float: left;
	height: 100%;
	width: 30%;
	background: #FBFFFF;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
  	border-radius: 2px;
}
.news-text-box {
	float: left;
	height: 100%;
	width: 70%;
	padding: 1%;
	box-sizing: border-box;
}

.right-profile {
	position: relative;
	height: 35%;
	width: 100%;
	background: #E1E6FA;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
  	border-radius: 2px;
  	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.right-profile:hover {
	background-color: #FBFFFF;
	cursor: pointer;
}

.right-stream-list {
	margin-top: 10px;
	height: 35%;
	width: 100%;
}


.stream-entry-odd {
	padding: 2px;
	padding-left: 5px;
	width: 95%;
	height: 25px;
	background: #FBFFFF;
	line-height: 22px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	margin-top: 6px;
	border-radius: 2px;
	box-sizing: border-box;
	float: right;
}
.stream-entry-even {
	padding: 2px;
	padding-left: 5px;
	width: 95%;
	height: 25px;
	background: #E1E6FA;
	line-height: 22px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	margin-top: 6px;
	border-radius: 2px;
	box-sizing: border-box;
	float: right;
}
.head {
	background: #183152;
	color: #E1E6FA;
	width: 100%;
}
.stream-entry-odd:hover, .stream-entry-even:hover {
	background: rgba(65,68,76,0.8);
}

.stream-container {
	margin-top: 5px;
	margin-left: 5px;
	width: 98%;
	height: 98%;
	border-radius: 2px;
	overflow: hidden;
	background: #FBFFFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.full-opacity {
	opacity: 0.4 !important;
}
.profile-link {
	display: block;
	height:80%;
	width: 100%;
}

.profile-container {
	margin-top: 10px;
	margin-left: 10px;
	height: 98%;
	width: 98%;

}
.profile-avatar {
	height: 100%;
	width: 40%;
	background-color: #FBFFFF;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	display: inline-block;
}
.profile-info-container {
	float: right;
	height: 100%;
	width: 59%;
}
.profile-info {
	height: 40%;
	width: 100%;
	background-color: #FBFFFF;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
}
.profile-comments {
	margin-top: 10px;
	display: block;
	height: 58.5%;
	width: 100%;
	background-color: #FBFFFF;
	background-size: contain;
    background-position: center;
  	background-repeat: no-repeat;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
}
.bracket-create-container {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	height: 98%;
	width: 98%;
	background: #FBFFFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
}
.bracket-submit-box{
	position: absolute;
	bottom: 40px;
	right: 40px;
	text-align: center;
}
.bracket-submit-button {
	background: #C4D7ED;
	width: 200px;
	height: 30px;
	color: #183152;
	font-family: 'Roboto', serif;
	border: 0px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	
}
.bracket-submit-button:hover {
	background: #375D81;
	color: #fff;
	cursor: pointer;
}
.bracket-name-text {
	width: 200px;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
}

